@import url(http://fonts.googleapis.com/css?family=Domine:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400italic,700,400,700italic);

@font-face {
    font-family: HerscheyFutura;
    src: url(../../uploads/herscheyfutura-webfont.ttf);
}

@font-face {
    font-family: "Belgika 8th";
    src: url("../../uploads/Belgika-8th.otf") format("opentype");
}


@color: blue;
@serif: Domine;
@sans: Quattrocento Sans;
@mono: Not Courier Sans;
@font-size: 14px;
@font-size-small: 12px;
@line-height: 18px;


/* BLOCKS -------------------------------------  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "dlig", "clig", "kern";
    -webkit-font-feature-settings: "liga", "dlig", "clig", "kern";
    -moz-font-feature-settings: "liga", "dlig", "clig", "kern";
    -o-font-feature-settings: "liga", "dlig", "clig", "kern";
}

body {
    background-size: 100%;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    color: black;
    font-family: @serif;
    font-size: @font-size;
    line-height: @line-height;
    padding: @line-height / 2;
}

/* Style des niveaux de titre */
h1, h2, h3, h4, h5, h6 {
    font-size: @font-size; 
    font-family: @serif;
    clear: both;
}
h1 {
    font-size: 30px;
    line-height: 45px;
    font-family: "Belgika 8th";
  	margin-bottom: 27px;
}

h2 {
    font-size: @font-size + 8;
    line-height: 30px;
    font-family: "Belgika 8th";
    margin-bottom: 1em;
    margin-top:2em;
}

h3 {
    font-family: "Belgika 8th";
    font-weight: normal;
    text-transform: uppercase;
    font-size: @font-size -3;
    line-height: 24px;
    margin: 9px;
  letter-spacing:0.05em;

}
h4 {
    text-decoration: underline;
}


 .highlight { 
   background-color:yellow; 
 }

img {
    max-width: 200px;
    float: left;
    margin: @line-height / 2;
    display: block;
}

img.inline {
    display: inline; 
    vertical-align: top; 
    margin: 0;
    height: 1em;
}
img.large {
    width: 90%;
    max-width: none;
    margin: auto;
}

.thumbnail {
    max-width: 30%;
}


blockquote {
    font-family: @sans;
    font-size: @font-size;
    margin: @line-height 2 * @line-height;
}
p, ul, ol {
    margin-bottom: @line-height;
    clear: both;
}

hr {
    border: 0;
    height: @line-height;
    margin: 0;
}
hr + hr {
    display: block;
    border-bottom: 1px solid black;
}

code, pre {
    font-family: @mono !important;
    font-size: @font-size-small;
    white-space: pre-wrap;
    line-height: 0.9em !important;
    color: #cc6600;
  
}
pre {
    padding: @line-height;
    width: 75%;
}

/* Style des légendes d'images */
figcaption {
    font-family:  @sans;
    font-size: @font-size-small;
    line-height: 1.3em;
    text-align: center;
    margin-bottom: @line-height;
}
/* Style des frames de vidéo ou autres objets hors image */
figure iframe {
    max-width: 70%;
    margin: @line-height auto;
    display: block;
}
audio,
video {
    display: block;
    clear: both;
    margin: auto;
    margin-bottom: @line-height * 2;
}

/* Style des notes de bas de pages */
.footnote {
    font-size: @font-size-small;
    line-height: 1.3em;
    margin-bottom: 2 * @line-height;
}
.footnote p {
    margin-bottom: 0;
}

/* INLINES ------------------------------------- */
/* Style des liens hypertextes */
a,
a:visited {
    text-decoration: none;
    color: @color;
}
/* Style du texte en roll-over sur les liens */
a:hover {
    text-decoration: none;
    color: black;
}
/* Style quand on arrive à une ancre */
.target {
    background-color: @color;
}
/* Style de l'italique */
em {
    font-style: italic;
}
/* Style du bold */
strong {
    font-weight: bold;
}
/* Style des exposants */
sup {
    font-size: 0.65em;
    line-height: 0;
    vertical-align: 0.5em;
}
sup a {
    font-family:  @sans;
}
/* Style du texte souligné */
u {
    text-decoration: none;
    border-bottom: 2px solid yellow;
}

ins {
    background-color: yellow;
    text-decoration: none;
}

del {
    text-decoration: line-through;
    background-color: gray;
}


dt {
    font-style: italic;
    display: inline;
    font-family: @sans;
}
dt:after {
    content: ": ";
}
dd {
    display: inline;
    margin:0;
}
dd:after {
    content:'\0A';
    white-space:pre;
} 
dd + dd {
    margin-left: @line-height * 2;
}


.metadata dt, 
.metadata dd {
    float: left;
}
.metadata dt {
    clear: both;
    margin-right: 4px;
}
.metadata dd +dd {
    margin-left: 0;
}
.metadata dd:after {
    content: ", ";
}
.metadata dd:last-child:after {
    content: "";
}


.comment:before {     
    background-color: yellow !important;
    border-radius: 1em;
    display: inline;
    height: 1em;
    margin: 0 0.5em;
    padding-left: 7px;
    padding-right: 9px;
    text-align: center;
    width: 1em;
    content: "!";
    font-family:  @sans;
} 


/* FORMS -------------------------- */
form {
    margin-bottom: none;
}
form label, form textarea {
    font-family: inherit;
    font-size: inherit;
}
form input, form textarea {
  background: none;
  border-style: solid;
  border-color: black;
  font-family: sans-serif;
    font-size: inherit;
}
/* Style de l'élément activé */
form input:focus, form textarea:focus {
    background-color: white;
}
form input[type=text], form input[type=password] {
  height: 25px;
    position: relative;
    top: -1px;
    width: 200px;
}
form input[type=submit] {
    cursor: pointer;
    padding: 0;
  height: 26px;
  border-style: none;
  border-color: none;
  text-decoration: none;
  color: @color;
}
form input[type=submit]:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

/* GENERIC CLASSES -------------------------------- */
/* Style des boutons */
.button {
  text-decoration: none;
    margin: 0 @line-height / 2;
    border: 1px solid @color;
    padding: @line-height /4 @line-height /2;
    font-family: @sans;
}
.button.active {
	color: white;
	background-color: @color;
  font-weight: bold;
  outline: 1px solid @color;
}
/* Style des boutons en roll over */
.button:hover {
    outline: 1px solid @color;
    color: @color;
}
/* Classe pour transformer des éléments blocs en éléments en ligne */
.inline {
    display: inline;
}


/* PAGE STRUCTURE --------------------------------- */
/* Style des containers */
.wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
}
.wrap:first-child {
    margin: @line-height 0;
}
.wrap:before, .wrap:after {
    content: " ";
    /* 1 */
     display: table;
    /* 2 */ 
}
.wrap:after {
    clear: both;
}
/* Style des sous-parties de containers */
.left-side, .middle, .right-side {
    float: left;
    position: relative;
}
.left-side,
.right-side  {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1; 
    flex: 1;
    margin-top: 2 * @line-height;
}
.middle {
    width: 50em;
    padding: @line-height 2 * @line-height;
}

.write-mode .middle {
    width: 70%;
}

/* Pour les inclusions de pads dans les compilations */
#content .middle {
    width: 100%;
}

/* NAV ------------------------------------------ */


/* Navigation */
nav {
    font-family: @sans;
    line-height: @line-height;
    font-size: @font-size-small;
    /*position: fixed;*/
    top: 0;
    background-color: white;
    padding: @line-height / 4;
    z-index: 1000;
}
nav#nav-left {
    left: 0;
    width: 100%;
}
nav#nav-right {
    right: 0;
    text-align: right;
}
nav div#staff-menu {
    display: inline;
    color: darkgray;
}

nav h1 {
    display: inline;
}
nav span:before {
    content: " — ";
}

nav div#sort-by {
    display: inline;
    color: darkgray;
}


/* Texte précédent/suivant */
div#previous a,
div#next a {
    position: fixed;
    top: 6.5em; 
    font-family:  sans-serif;
    font-size: @font-size-small;
    line-height: 1.2em;
    padding: @line-height;
    z-index: 6666;
}
div#previous a span,
div#next a span {
    display: none;
}
div#previous a:hover span,
div#next a:hover span {
    display: block;
}
div#next {
    text-align: right;
    padding-right: 0;
}
div#next a {
        right: 0;
}

/* MAIN CONTENT ---------------------------------- */
header {
    margin-top: @line-height;
    font-size:  2.5 * @font-size;
    line-height: 1.2em;
    text-align: center;
}
header p, header h2 {
    font-family: inherit;
    margin-bottom: 0;
    line-height: inherit;
    text-align: center;
    display: inline;
}
header h2 {
    font-size: inherit;
    font-family: @sans;
    text-transform: none;
}
header p.authors:after {
    content: ", ";
}



#content ul li:before {
    content: "– ";
    margin-left: 2 * @line-height;
}

ol {
    list-style-type: decimal;
    margin-left: 2 * @line-height;
}
.footnote ol li {
    margin-bottom: 0em;
}

.note {
    margin: @line-height;
    margin-left: 50%;
    text-indent: 0;
    font-family: @sans;
    
    & + p {
        text-indent: 0;
    }
}
.noteA {
    width: 75%;
    float: right;
    margin: @line-height 0;
}
.noteB {
    width: 75%;
}

dl.meta {
    font-family: @sans;
    color: lightgray;
    font-size: @font-size-small;
   line-height: 1.25em;
}
div.metadata {
   font-family: @sans;
   font-size: @font-size-small;
   line-height: 1.25em;
   position: absolute;
   top: 0px;
   left: -15em;
   width: 15em;
}

div#go-up {
    clear: both;
    margin-top: 2 * @line-height;
    a {
        border-bottom: none;
    }
    a:hover {
        color: @color;
    }
}

/* AUTHORSHIP ----------------------------- */ 

.authors {
    display: inline;
}
/* Hides Etherpad background colours */ 
#content span {
    background-color: inherit !important;
}

/* ------ PRINT/SCREEN ------ */
@media screen {
    .print-only {
    display: none;
    }
}


/* User Interface */

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999;
    background: rgba(0,0,0,0.6667);
    text-align: center;
}

.popup-wrapper.hidden {
    display: none;
}

.popup-wrapper:before {
        position: relative;
        height: 100%;
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

.popup {
        display: inline-block;
        vertical-align: middle;
        background-color: white;
        padding: 30px;
}

/* UI */

.CodeMirror {
    height: inherit !important;
    outline: 1px solid lightblue;
  	line-height: 1.5em !important;
    font-family: @mono !important;
  	
}

.CodeMirror-sizer {
    min-width: inherit !important;
		line-height: 1.5em !important;
}



/* P R I N T */



@media print {
	@page {
  	margin-top: 2cm;
    margin-bottom: 3cm;
    orphans: 2;
    widows: 2;

  }
  .screen-only,
  .button,
  nav span,
  .left,
  .right,
  div#go-up {
      display: none;
  }
  video,
  audio {
      display: none;
  }
  
  a {
  	color: black;
  }
  
  h1, h2, h3, h4, h5, h6 {
  	page-break-after: avoid;
  }
  
  del {
      display: none;
  }
  ins {
    
    background-color: inherit;
  
  }
   
   

}
